h1.container.productindex-header {
    display: inline-flex;
    margin-left: 7vw;
    font-size: 3vw;
    margin-bottom: 2vw;
    margin-top: 3vw;
}
.container.product-index-links {
    margin-top: 5vw;
    margin-bottom: 1vw;
    text-align: right;
    float: right;
    margin-right: 7vw;
    font-size: 1.5vw;
    display: inline-flex;

    a {
        color: #6B8AA2;
    }
}
