.product-wrapper {
    position: relative;
    width: 80vw;
    left: 10vw;
    top: 4vw;
    height: 33vw;

    .product-name {
      position: absolute;
      top: 1vw;
      text-transform: uppercase;
      font-family: sans-serif;

      h4 {
        font-size: 2vw;
    }
  }
  .image-profile {
    position: absolute;
    width: 40vw;
    left: 0;
    top: 5vw;
  }
  .product-brand {
    position: absolute;
    left: 45vw;
    top: 5vw;
    text-transform: uppercase;

    h5 {
      font-size: 1.5vw;
    }
  }
  .product-color {
    position: absolute;
    left: 44vw;
    top: 8vw;
    font-size: 2vw;

    select.selectpicker {
        font-size: 1.5vw;
    }
  }
  .product-price {
    position: absolute;
    left: 55vw;
    top: 8.5vw;
    font-size: 1.5vw;
  }
  .product-available {
    position: absolute;
    left: 55vw;
    top: 11vw;

    h5 {
      font-size: 1.5vw;
    }
  }
  .product-description {
    position: absolute;
    top: 15vw;
    left: 44vw;
    font-size: 1.5vw;
  }
}

.product-link-section {
    position: relative;;
    margin: 5vw 0 10vw 10vw;
    font-size: 1.5vw;

    a {
      color: #6B8AA2;
    }
}
